:host {
    display: flex;
    flex: 1 1 auto;
    height: 100%;

    .div-body-cardCats{ 
        flex-direction: column;
        font-size:18px;
        align-items: center;
        display: flex;
    }

    .infos-cats {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1 1 auto;
    }
}
