<div class="div-body-cardCats">
    <h1 style="flex: 0 0 auto;">{{cat.name}}</h1>
    <p><b> Alternative Names: </b> {{cat.alt_names}}</p>
    <div class="infos-cats">
        <p><b>Origin:</b> {{cat.origin}}</p>
        <a href="{{cat.cfa_url}}" style="text-decoration: none; color:#143f75;" ><b>CFA: </b> {{cat.cfa_url}}</a>
    </div>
    <div style="margin-bottom: 10px; flex: 0 0 auto; display: flex; justify-content: center;">
        <button mat-raised-button color="primary" (click)="openDetalhesDialog()">More Infos</button>
    </div>
</div>