.infosGerais {
    padding: 1%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
}

b {
    color:#143f75;
}

.scores { 
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 320px) {
    .scores {
        flex-direction: column;
    }
}