<h1 mat-dialog-title>{{data.name}}</h1>
<h5>Origin: {{data.origin}}</h5>
<div mat-dialog-content>
  <div class="">
    <div class="infosGerais">
        <p><b>Temperament:</b> {{data.temperament}}</p>
        <p><b>Life time:</b> {{data.life_span}}</p>
        <div style="display: flex; flex: 1 1 100%; flex-direction:column; justify-content: space-between;">
          <div>
            <a href="{{data.wikipedia_url}}" style="text-decoration: none; color:#143f75;"><b>Wikipedia:</b> {{data.wikipedia_url}}</a>
          </div>
          <div class="scores">
            <p><b>Child Friendly:</b> <span class="nota"> {{data.child_friendly}}</span></p>
            <p><b>Dog Friendly:</b> <span class="nota"> {{data.dog_friendly}}</span></p>
            <p><b>Intelligence:</b> <span class="nota"> {{data.intelligence}}</span></p>
            <p><b>Energy:</b> <span class="nota"> {{data.energy_level}}</span></p>
          </div>
        </div>
    </div>
  </div>
  <p>{{data.description}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data.description" cdkFocusInitial>Ok</button>
</div>