:host{
    display: flex;
    flex: 1 1 auto;
    height: 100%;
}
section {
    display: flex;
    flex: 1 1 100%;
    padding: 2%;
    flex-direction: column;
}

.homeDiv {
    border: 1px solid #2488D6;
    background-color: white;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    * {
        display: flex;
        flex: 1 1 100%;
    }
    .card-header { 
        flex: 0 0 auto;
        justify-content: center;
    }
    .card {
        flex-direction: column;
    }

    .btn-tab-navigation {
        display: flex;
        flex: 0 1 auto;
        background: none;
        border:none;
        i {
            font-size: 48px;
            color: #345ca5;
        }
    }

    .tab-group{
        display: flex;
        flex:1;
        word-break: break-all;
        justify-content: space-evenly;
        flex-direction: inherit !important;
        padding-top: 20px;
        font-family: 'Montserrat' !important;
    
        .mat-tab-body {
            display: flex;
        }
        .mat-tab-body-content{
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex: 1 1 auto;
            }
        }
    }

    ::ng-deep .mat-tab-header {
        display: none !important;
    }
    
}

.cardsHome{
    display: flex;
    flex: 1 1 15%;
    max-height: 350px;
    height: 350px;
    padding: 15px;
}

.btnDisabled {
    opacity: 0.2;
}