<section class="home">
    <mat-form-field>
        <input #inputPesquisa matInput placeholder="Pesquisa" (keyup.enter)="searchBreeds(inputPesquisa.value)">
    </mat-form-field>
    <div class="homeDiv">
      <mat-card class="card">
        <mat-card-header class="card-header">
            <mat-card-title style="color: #345ca5;">BREEDS</mat-card-title>
        </mat-card-header>
        <div class="div-tabs-breeds">
          <button #btnVoltar mat-button (click)="navTabButtonClicked(-1)" class="btn-tab-navigation">
            <i [ngClass]="{'btnDisabled': btnVoltar.disabled}" class="material-icons">
              navigate_before
            </i>
          </button>
          <mat-tab-group #tabGroup [selectedIndex]="selectedTabIndex" (selectedTabChange)="btnControl($event)" class="tab-group">
            <mat-tab *ngFor='let cat of cats' fxLayout="column" fxFlex="1 0 auto">
              <cat-card [cat]="cat"></cat-card>
            </mat-tab>
          </mat-tab-group>
          <button #btnAvancar (click)="navTabButtonClicked(1)" mat-button class="btn-tab-navigation">
            <i [ngClass]="{'btnDisabled': btnAvancar.disabled}" class="material-icons">
              navigate_next
            </i>
          </button>
        </div>
        <div style="justify-content: center; opacity: 0.5; font-weight: bold; display: flex; flex: 0 0 auto;"> {{mensagemBottomCard()}}</div>
      </mat-card>
    </div>
</section>