:host {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-card{
    display: flex;
    flex-direction: column;
    max-width: 274px;
    border:1px solid #0C4D9B;

    mat-card-title{
        color: #0C4D9B;
    }
}

.content-card { 
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
}

.footer-card {
    display: flex;
    flex: 1;
    justify-content: space-around;
}